<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="/css/index.css">
    <title>hashcode</title>
</head>
<body> 
    <nav class="navbar">
        <ul class="navbar-nav">
            <li>
                <a href="#">
                    <i class="material-icons">tag</i>
                </a>
                <span class="tooltip">HASHCODE</span>
            </li>
            <li>
                <a href="/">
                    <i class="material-icons">home</i>
                </a>
                <span class="tooltip">HOMEPAGE</span>
            </li>
            <li>
                <a href="/fizz">
                    <i class="material-icons">code</i>
                </a>
                <span class="tooltip">FIZZBUZZ</span>
            </li>
            <li>
                <a href="/contest">
                    <i class="material-icons">emoji_objects</i>
                </a>
                <span class="tooltip">CONTESTS</span>
            </li>
            <li>
                <a href="/visualizer">
                    <i class="material-icons">assessment</i>
                </a>
                <span class="tooltip">VISUALIZER</span>
            </li>
            <%if(user){%>
            <li>
                <a href="/profile">
                    <i class="material-icons">account_circle</i>
                </a>
                <span class="tooltip">PROFILE</span>
            </li>
            <li>
                <a href="/logout">
                    <i class="material-icons">logout</i>
                </a>
                <span class="tooltip">LOGOUT</span>
            </li>
            <%} else {%>
            <li>
                <a href="/google">
                    <i class="material-icons">login</i>
                </a>
                <span class="tooltip">LOGIN</span>
            </li>
            <%}%>
            
            <li>
                <a href="https://github.com/maskmanlucifer/hashcode">
                    <i class="material-icons">view_in_ar</i>
                </a>
                <span class="tooltip">SOURCE CODE</span>
            </li>
        </ul>
    </nav>
    <main class="main">  

        <p id="starttime" style="display: none;"><%=data.starttimeSecond%></p>
        <p id="duration" style="display:none;"><%=data.durationtimeSecond%></p>
        <p id="problems" style="display: none;"><%=data.problems.length%></p>
        <p id="contestId" style="display: none;"><%=data.contestId%></p>
        <p id="minRange" style="display: none;"><%=data.minRange%></p>
        <p id="maxRange" style="display: none;"><%=data.maxRange%></p>
        <p id="noofProblems" style="display: none;"><%=data.numberofProblems%></p>

        <% let c = ['A','B','C','D','E','F','G','H','I','J']; %>

        <%if(error==1) {%>
            <div class="main_contest_box">
                <div class="buttons">
                    <span class="active_buttons" style="color: turquoise;">PROBLEMS</span>
                </div>
                <div class="problem_box" style=" overflow-x:auto;">
                    <table id="myTable1"></table>
                </div>
            </div>
            <div class="main_contest_box">
                <div class="buttons">
                    <span class="active_buttons" style="color: turquoise;">STANDING</span>
                </div>
                <div class="problem_box" style=" overflow-x:auto;">
                   <table id="myTable2"></table>
                </div>
            </div>
        <% } else if(error!=2) {%>
            <div class="main_contest_box">
                <div class="buttons">
                    <span class="active_buttons" style="color: turquoise;">PROBLEMS</span>
                </div>
                <div class="problem_box" style=" overflow-x:auto;">
                    <p class="contestError"><%=error.error%></p>
                </div>
            </div>
            <div class="main_contest_box">
                <div class="buttons">
                    <span class="active_buttons" style="color: turquoise;">STANDING</span>
                </div>
                <div class="problem_box" style=" overflow-x:auto;">
                    <p class="contestError"><%=error.error%></p>
                </div>
            </div>
        <% } else {%>
            <div class="main_contest_box">
                <div class="buttons">
                    <span class="active_buttons" style="color: turquoise;">PROBLEMS</span>
                </div>
                <div class="problem_box" style=" overflow-x:auto;">
                    <table >
                        <tr>
                            <th>#</th>
                            <th>NAME</th>
                            <th>POINTS</th>
                            <th>FIRST SOLVED BY</th>
                        </tr>
                        <% for(let i=0;i<data.problems.length;i++){%>
                            <tr>
                                <td><%=i+1%></td>
                                <td><a href="https://codeforces.com/contest/<%=data.problems[i].contestId%>/problem/<%=data.problems[i].index%>">PROBLEM-<%=c[i]%></a></td>
                                <td><%=data.problems[i].points%></td>
                                <td><%=data.problems[i].acFirst%></td>
                            </tr>
                        <%}%>
                    </table>
                </div>
            </div>

            <div class="main_contest_box">
                <div class="buttons">
                    <span class="active_buttons" style="color: turquoise;">STANDING</span>
                </div>
                <div class="problem_box" style=" overflow-x:auto;">
                    <table >
                        <tr>
                            <th>#</th>
                            <th>USERNAME</th>
                            <th>POINTS</th>
                            <%for(let i=0;i<data.problems.length;i++) {%>
                                <th><%=c[i]%></th>
                            <%}%>
                        </tr>
                        
                        <% for(let i=0;i<data.rankList.length;i++){%>
                            <tr>
                                <td><%=i+1%></td>
                                <td><a href="https://codeforces.com/profile/<%=data.rankList[i].handle%>"><%=data.rankList[i].handle%></a></td>
                                <td><%=data.rankList[i].points%></td>
                                <%for(let j=0;j<data.rankList[i].problemResults.length;j++) {%>
                                    <% if(data.rankList[i].problemResults[j].contestId != -1) {%>
                                    <td><a href="https://codeforces.com/contest/<%=data.rankList[i].problemResults[j].contestId%>/submission/<%=data.rankList[i].problemResults[j].submissionId%>">AC</a></td>
                                    <%} else {%>
                                    -
                                    <%}%>
                                <%}%>
                            </tr>
                        <%}%>
                    </table>
                </div>
            </div>
        <% } %>
        <div id="timer">
            <p id="demo1"></p>
            <p id="demo"></p>
        </div>
    </main>
    <script src="/js/lockout.js"></script>
</body>
</html> 