<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="/css/index.css">
    <title>hashcode</title>
</head>
<body> 
    <nav class="navbar">
        <ul class="navbar-nav">
            <li>
                <a href="#">
                    <i class="material-icons">tag</i>
                </a>
                <span class="tooltip">HASHCODE</span>
            </li>
            <li>
                <a href="/">
                    <i class="material-icons">home</i>
                </a>
                <span class="tooltip">HOMEPAGE</span>
            </li>
            <li>
                <a href="/fizz">
                    <i class="material-icons">code</i>
                </a>
                <span class="tooltip">FIZZBUZZ</span>
            </li>
            <li>
                <a href="/contest">
                    <i class="material-icons">emoji_objects</i>
                </a>
                <span class="tooltip">CONTESTS</span>
            </li>
            <li>
                <a href="/visualizer">
                    <i class="material-icons">assessment</i>
                </a>
                <span class="tooltip">VISUALIZER</span>
            </li>
            <%if(user){%>
            <li>
                <a href="/profile">
                    <i class="material-icons">account_circle</i>
                </a>
                <span class="tooltip">PROFILE</span>
            </li>
            <li>
                <a href="/logout">
                    <i class="material-icons">logout</i>
                </a>
                <span class="tooltip">LOGOUT</span>
            </li>
            <%} else {%>
            <li>
                <a href="/google">
                    <i class="material-icons">login</i>
                </a>
                <span class="tooltip">LOGIN</span>
            </li>
            <%}%>
            
            <li>
                <a href="https://github.com/maskmanlucifer/hashcode">
                    <i class="material-icons">view_in_ar</i>
                </a>
                <span class="tooltip">SOURCE CODE</span>
            </li>
        </ul>
    </nav>
    <main class="main">
        <div class="filter_bar_contest">
            <span>LOCKOUT</span>
        </div>
        <div class="create_button"><a href="/contest/lockout/create"><i class="material-icons">add</i><span>CREATE</span></a></div>
        <div class="card_list_mashup">
            <span>ALL</span>
            <%for(let i=data.length-1;i>=0;i--) {%>
                <% let flag =0 ;%>
                <% if(user && user.ishandle && data[i].creator.handle == user.cfusername) {%>
                    <%flag =1 %>
                <%}%>
                <% if(user && user.ishandle && (data[i].opponent.email != "undefined") && (data[i].opponent.handle == user.cfusername)) {%>
                    <%flag =1 %>
                <%}%>
                <% if (data[i].visibility == "PUBLIC") {%>
                    <div class="contest_box">
                        <span>Lockout # <%=data[i].contestID%></span>
                        <div class="info_contest">
                            <%let myDate = new Date(data[i].starttimeSecond *1000) %>
                            <p><strong>Start time :</strong>  <%=myDate.toLocaleString()%></p>
                            <% let duration =Math.floor(data[i].durationtimeSecond/60.0)%>
                            <% let hours = Math.floor(duration/60.0) %>
                            <% let minutes = duration - (hours*60) %>
                            <p> <strong>Duration :</strong>   <%=hours%> hr : <%=minutes%> min</p>
                        </div> 
                        <div class="info_contest">
                            <p><strong>Problem range :</strong>  <%=data[i].minRange%> - <%=data[i].maxRange%></p>
                            <p><strong>Problem count :</strong>  <%=data[i].numberofProblems%></p>
                        </div>
                        <div class="info_contest">
                            <p><strong>Participant-1 :</strong> <a href="https://codeforces.com/profile/<%=data[i].creator.handle%>"><%=data[i].creator.handle%></a> </p>
                            <%if(data[i].opponent.email != "undefined"){%>
                            <p><strong>Participant-2 :</strong> <a href="https://codeforces.com/profile/<%=data[i].opponent.handle%>"><%=data[i].opponent.handle%></a> </p>
                            <% } %>
                        </div>
                        
                        <%if(data[i].opponent.email != "undefined"){%>
                            <%if(flag == 1){%>
                                You are registered
                                <a href="/contest/lockout/<%=data[i].contestID%>">ENTER</a>
                               <%} else {%>
                                Contest is full
                               <%}%>
                            
                        <% } else { %>
                            <%if(flag == 1){%>
                                You are registered
                                <a href="/contest/lockout/<%=data[i].contestID%>">ENTER</a>
                            <%} else {%>
                                <a href="/contest/lockout/<%=data[i].contestID%>/register">REGISTER</a>
                            <%}%>
                        <%}%>   
                    </div>
                <%} else {%>
                    <% if(flag ==1 ){%>
                        <div class="contest_box">
                            <span>Lockout # <%=data[i].contestID%></span>
                            <div class="info_contest">
                                <%let myDate = new Date(data[i].starttimeSecond *1000) %>
                                <p><strong>Start time :</strong>  <%=myDate.toLocaleString()%></p>
                                <% let duration =Math.floor(data[i].durationtimeSecond/60.0)%>
                                <% let hours = Math.floor(duration/60.0) %>
                                <% let minutes = duration - (hours*60) %>
                                <p> <strong>Duration :</strong>   <%=hours%> hr : <%=minutes%> min</p>
                            </div> 
                            <div class="info_contest">
                                <p><strong>Problem range :</strong>  <%=data[i].minRange%> - <%=data[i].maxRange%></p>
                                <p><strong>Problem count :</strong>  <%=data[i].numberofProblems%></p>
                            </div>
                            <div class="info_contest">
                                <p><strong>Participant-1 :</strong> <a href="https://codeforces.com/profile/<%=data[i].creator.handle%>"><%=data[i].creator.handle%></a> </p>
                                <%if(data[i].opponent.email != "undefined"){%>
                                <p><strong>Participant-2 :</strong> <a href="https://codeforces.com/profile/<%=data[i].opponent.handle%>"><%=data[i].opponent.handle%></a> </p>
                                <% } %>
                            </div>
                            <p>You are registered</p>
                            <a href="/contest/lockout/<%=data[i].contestID%>">ENTER</a>
                        </div>
                    <%}%>
                <%}%>
            <%}%>
        </div>
    </main>
</body>
</html> 