<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="/css/index.css">
    <title>hashcode</title>
</head>
<body> 
    <nav class="navbar">
        <ul class="navbar-nav">
            <li>
                <a href="#">
                    <i class="material-icons">tag</i>
                </a>
                <span class="tooltip">HASHCODE</span>
            </li>
            <li>
                <a href="/">
                    <i class="material-icons">home</i>
                </a>
                <span class="tooltip">HOMEPAGE</span>
            </li>
            <li>
                <a href="/fizz">
                    <i class="material-icons">code</i>
                </a>
                <span class="tooltip">FIZZBUZZ</span>
            </li>
            <li>
                <a href="/contest">
                    <i class="material-icons">emoji_objects</i>
                </a>
                <span class="tooltip">CONTESTS</span>
            </li>
            
            <%if(user){%>
            <li>
                <a href="#">
                    <i class="material-icons">account_circle</i>
                </a>
                <span class="tooltip">PROFILE</span>
            </li>
            <li>
                <a href="/logout">
                    <i class="material-icons">logout</i>
                </a>
                <span class="tooltip">LOGOUT</span>
            </li>
            <%} else {%>
            <li>
                <a href="/google">
                    <i class="material-icons">login</i>
                </a>
                <span class="tooltip">LOGIN</span>
            </li>
            <%}%>
            
            <li>
                <a href="https://github.com/maskmanlucifer/hashcode">
                    <i class="material-icons">view_in_ar</i>
                </a>
                <span class="tooltip">SOURCE CODE</span>
            </li>
        </ul>
    </nav>
    <main class="main">
        <div class="welcome">
            <p>WELCOME <%=user.name%></p>
        </div>
       <% if(user.isHandle) {%>
            <div class="card_list_mashup">
                <span>YOUR CONTESTS</span> 
                <%for(let i=user.contestList.length-1;i>=0;i--) {%>
                    <div class="my_contest">
                        <p><%=user.contestList[i].type.toUpperCase()%> # <%=user.contestList[i].contestId%></p>
                        <a href="/contest/<%=user.contestList[i].type%>/<%=user.contestList[i].contestId%>">GOTO CONTEST</a>
                    </div>
                <%}%>
            </div>
       <%} else {%>
            <div class="profile_box">
                <p>Last one verification for reducing fake ID's and tracking your submissions in mashups and lockouts</p>
                <form>
                    <label for="cfHandle">Enter your codeforces handle</label>
                    <input type="text" name="cfHandle"/>
                    <button>ADD HANDLE</button>
                    <p class="contestError"></p>
                    <div class="info"></div>
                </form>
                <div id="timer">
                    <p id="demo1"></p>
                    <p id="demo"></p>
                </div>
            </div>
       <%}%>
    </main>
    <script>

        const form = document.querySelector('form');
        let contestError=document.querySelector('.contestError');
        let info=document.querySelector('.info');

        $('button').click(async (e) => {
            e.preventDefault();

            contestError.textContent='';
            info.innerHTML = '';
            let cfHandle = form.cfHandle.value;
            
            try 
            { 
                const res = await fetch('/profile/handle/save', { 
                    method: 'POST', 
                    body: JSON.stringify({cfHandle:cfHandle}),
                    headers: {'Content-Type': 'application/json'}
                });
                
                const data = await res.json(); 

                if (data.contestError) 
                { 
                    contestError.textContent=data.contestError;
                }
                if(data.info)
                {
                    async function check() {
                        try 
                        {
                            const res2 = await fetch('/profile/handle/verify', { 
                                method: 'POST', 
                                body: JSON.stringify({cfHandle:cfHandle}),
                                headers: {'Content-Type': 'application/json'}
                            });
                            
                            const data2 = await res2.json(); 

                            if (data2.contestError) 
                            { 
                                contestError.textContent=data2.contestError;
                            }
                             
                            if(data2.info)
                            {
                                info.innerHTML = "Your Codeforces Handle is verified";
                            }
                        }
                        catch(err)
                        {
                            console.log(err);
                        }
                       
                    }

                    info.innerHTML = `Submit this <a href="https://gist.github.com/maskmanlucifer/a3cf6a401e67e74176f99cd1765a6a75" target="_blank" rel="noopener noreferrer">Code</a> to this <a href="https://codeforces.com/contest/1331/problem/A" target="_blank" rel="noopener noreferrer">Problem</a> within 50 second`;
                    let now = new Date().getTime();
                    let target = now + (50*1000);

                    let x = setInterval(() => {
                        now = new Date().getTime();
                        let distance = target - now;
                        let seconds = Math.floor((distance % (1000 * 60)) / 1000);
                        let finaltime = seconds + " sec";
                        document.getElementById("demo").innerHTML = finaltime;

                        document.getElementById("demo1").textContent = `Verification will be done in ${finaltime}  please don't refresh the page`;

                        if (distance <= 1)
                        {
                            check();
                            clearInterval(x);
                            document.getElementById("demo1").innerHTML='';
                            document.getElementById("demo").innerHTML='';
                            info.innerHTML='';
                        }

                    },1000);
                }
            }
            catch (err) 
            {
                console.log(err);
            }
        });
    </script>
</body>
</html> 